# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target/classes/META-INF/
target/classes/test/config/RestTemplateConfig.class
target/classes/texas/bean/Conf.class
target/classes/texas/bean/Constant.class
target/classes/texas/config/RestTemplateConfig.class
target/generated-sources/
